*.pyc
*.egg-info
build/
dist/
*.eggs
MANIFEST
.DS_Store
.coverage
.cache
data
config.json
stdout*
/integration*
.idea/
docs/_build/

# Sphinx documentation
docs/_build/

.ipynb_checkpoints/

tutorials/pystac-example*
tutorials/spacenet-stac/
tutorials/spacenet-cog-stac/
tutorials/data/