repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        types_or:
          - jupyter
          - markdown
          - python
          - shell
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.36.1
    hooks:
      - id: basedpyright
