include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

exclude .editorconfig requirements_dev.txt Makefile

graft tests
graft docs

global-exclude __pycache__
global-exclude *.py[co]