[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"

[requires]
python_version = "2.7.14"
