[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
rasterio = "*"
click = "*"
geojson = "*"
requests = "*"
typing = "*"
marshmallow = "==3.0.0b8"

[dev-packages]
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
ipython = "*"

[requires]
python_version = "2.7.14"
