[project]
name = "pystac"
description = "Python library for working with the SpatioTemporal Asset Catalog (STAC) specification"
readme = "README.md"
authors = [
    { name = "Rob Emanuele", email = "rdemanuele@gmail.com" },
    { name = "Jon Duckworth", email = "duckontheweb@gmail.com" },
]
maintainers = [{ name = "Pete Gadomski", email = "pete.gadomski@gmail.com" }]
keywords = ["pystac", "imagery", "raster", "catalog", "STAC"]
license = { text = "Apache-2.0" }
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
requires-python = ">=3.10"
dependencies = ["python-dateutil>=2.7.0"]
dynamic = ["version"]

[project.optional-dependencies]
jinja2 = ["jinja2<4.0"]
orjson = ["orjson>=3.5"]
urllib3 = ["urllib3>=1.26"]
validation = ["jsonschema~=4.18"]

[dependency-groups]
dev = [
    "asv>=0.6.4",
    "codespell<2.3",
    "coverage>=7.6.2",
    "doc8>=1.1.2",
    "html5lib>=1.1",
    "jinja2>=3.1.4",
    "jsonschema>=4.23.0",
    "mypy>=1.11.2",
    "orjson>=3.10.7",
    "packaging>=24.1",
    "pre-commit>=4.0.1",
    "pytest>=8.3.3",
    "pytest-cov>=5.0.0",
    "pytest-mock>=3.14.0",
    "pytest-recording>=0.13.2",
    "requests-mock>=1.12.1",
    "ruff>=0.6.9",
    "types-html5lib>=1.1.11.20240806",
    "types-jsonschema>=4.23.0.20240813",
    "types-orjson>=3.6.2",
    "types-python-dateutil>=2.9.0.20241003",
    "types-urllib3>=1.26.25.14",
    "virtualenv>=20.26.6",
]
docs = [
    "boto3>=1.35.39",
    "ipython>=8.28.0",
    "jinja2>=3.1.4",
    "jupyter>=1.1.1",
    "nbsphinx>=0.9.5",
    "pydata-sphinx-theme>=0.15.4",
    "rasterio>=1.4.1",
    "shapely>=2.0.6",
    "sphinx>=8.1.1",
    "sphinx-autobuild>=2024.10.3",
    "sphinx-design>=0.6.1",
    "sphinxcontrib-fulltoc>=1.2.0",
]

[project.urls]
Documentation = "https://pystac.readthedocs.io"
Repository = "https://github.com/stac-utils/pystac"
Issues = "https://github.com/stac-utils/pystac/issues"
Changelog = "https://github.com/stac-utils/pystac/blob/main/CHANGELOG.md"
Discussions = "https://github.com/radiantearth/stac-spec/discussions/categories/stac-software"

[tool.coverage.run]
branch = true
source = ["pystac"]
omit = ["pystac/extensions/label.py"]

[tool.coverage.report]
fail_under = 90
exclude_lines = ["if TYPE_CHECKING:"]

[tool.doc8]
ignore-path = ["docs/_build", "docs/tutorials"]
max-line-length = 88

[tool.mypy]
show_error_codes = true
strict = true

[[tool.mypy.overrides]]
module = ["jinja2"]
ignore_missing_imports = true

[tool.ruff]
line-length = 88
lint.select = ["E", "F", "I"]

[tool.pytest.ini_options]
filterwarnings = ["error"]
addopts = "--block-network --record-mode=none"

[tool.setuptools.packages.find]
include = ["pystac*"]
exclude = ["tests*", "benchmarks*"]

[tool.setuptools.dynamic]
version = { attr = "pystac.version.__version__" }

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
