[project]
name = "pystac"
description = "Python library for working with the SpatioTemporal Asset Catalog (STAC) specification"
readme = "README.md"
authors = [
    { name = "Rob Emanuele", email = "rdemanuele@gmail.com" },
    { name = "Jon Duckworth", email = "duckontheweb@gmail.com" }
]
maintainers = [
    { name = "Pete Gadomski", email = "pete.gadomski@gmail.com" }
]
keywords = ["pystac", "imagery", "raster", "catalog", "STAC"]
license = { text = "Apache-2.0" }
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
requires-python = ">=3.8"
dependencies = [
    "importlib-resources>=5.12.0; python_version<'3.9'",
    "python-dateutil>=2.7.0",
]
dynamic = ["version"]

[project.optional-dependencies]
bench = [
    "asv~=0.5",
    "virtualenv~=20.22",
]
docs = [
    "Sphinx~=6.2",
    "ipython~=8.12",
    "jinja2<4.0",
    "jupyter~=1.0",
    "nbsphinx~=0.9",
    "pydata-sphinx-theme~=0.13",
    "sphinx-autobuild==2021.3.14",
    "sphinx-design~=0.4",
    "sphinxcontrib-fulltoc~=1.2",
]
jinja2 = [
    "jinja2<4.0",
]
orjson = ["orjson>=3.5"]
test = [
    "black~=23.3",
    "codespell~=2.2",
    "coverage~=7.2",
    "doc8~=1.1",
    "html5lib~=1.1",
    "jinja2<4.0",
    "jsonschema~=4.17",
    "mypy~=1.2",
    "orjson~=3.8",
    "pre-commit~=3.2",
    "pytest-cov~=4.0",
    "pytest-mock~=3.10",
    "pytest-recording~=0.12",
    "pytest~=7.3",
    "ruff==0.0.275",
    "types-html5lib~=1.1",
    "types-orjson~=3.6",
    "types-python-dateutil~=2.8",
    "types-urllib3~=1.26",
    # pytest-recording breakage with v5.0.0, need release of
    # https://github.com/kiwicom/pytest-recording/pull/110 to remove this ceil
    "vcrpy<5",
]
urllib3 = ["urllib3>=1.26"]
validation = ["jsonschema>=4.0.1"]

[project.urls]
homepage = "https://github.com/stac-utils/pystac"
documentation = "https://pystac.readthedocs.io"
repository = "https://github.com/stac-utils/pystac.git"
changelog = "https://github.com/stac-utils/pystac/blob/main/CHANGELOG.md"
discussions = "https://github.com/radiantearth/stac-spec/discussions/categories/stac-software"

[tool.setuptools.packages.find]
include = ["pystac*"]
exclude = ["tests*", "benchmarks*"]

[tool.setuptools.dynamic]
version = { attr = "pystac.version.__version__" }

[tool.ruff]
line-length = 88
select = ["E", "F", "I"]

[tool.pytest.ini_options]
filterwarnings = [
    "error",
]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
