black==23.1.0
codespell==2.2.4
coverage==7.2.2
doc8==1.1.1
html5lib==1.1
jinja2<4.0
jsonschema==4.17.3
mypy==1.1.1
orjson==3.8.9
pre-commit==3.2.1
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-vcr==1.0.2
pytest==7.2.2
ruff==0.0.259
types-html5lib==1.1.11.13
types-orjson==3.6.2
types-python-dateutil==2.8.19.10
types-urllib3==1.26.25.10
