mypy==0.902
flake8==3.9.2
black==21.6b0

codespell==2.1.0

jsonschema==3.2.0
coverage==5.5
doc8==0.8.1

types-python-dateutil==0.1.4
types-orjson==0.1.0

pre-commit==2.13.0

# optional dependencies
orjson==3.5.3