asv
codespell<2.3
coverage
doc8
html5lib
jinja2
jsonschema
mypy
orjson
packaging
pre-commit
pytest
pytest-cov
pytest-mock
pytest-recording
requests-mock
ruff
types-html5lib
types-jsonschema
types-orjson
types-python-dateutil
types-urllib3
virtualenv