mypy==0.910
flake8==3.9.2
black==21.8b0

codespell==2.1.0

jsonschema==3.2.0
coverage==5.5
doc8==0.9.0

types-python-dateutil==0.1.6
types-orjson==3.6.0

pre-commit==2.15.0

# optional dependencies
orjson==3.6.3