interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features"],"type":"Catalog","stac_version":"1.0.0","id":"microsoft-pc","title":"Microsoft
        Planetary Computer STAC API","description":"Searchable spatiotemporal metadata
        describing Earth science datasets hosted by the Microsoft Planetary Computer","stac_extensions":[],"links":[{"rel":"self","href":"https://planetarycomputer.microsoft.com/api/stac/v1/","type":"application/json"},{"rel":"root","href":"https://planetarycomputer.microsoft.com/api/stac/v1/","type":"application/json"},{"rel":"data","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections","type":"application/json"},{"rel":"conformance","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server"},{"rel":"search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"GET","type":"application/geo+json","title":"STAC
        search"},{"rel":"search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"POST","type":"application/geo+json","title":"STAC
        search"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","href":"https://planetarycomputer.microsoft.com/api/stac/v1/queryables","method":"GET","type":"application/schema+json","title":"Queryables
        available for this Catalog"}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
