{% import 'Macros.jinja2' as macros %}

<div class="jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output">
    {{ macros.square('#FED7E5', '#FA4C8C') }}
    <div>
        <details style="margin-left: 48px;">
            <summary style="margin-bottom: 20px;">
                <h3 style="margin-bottom: 0px; display: inline;">Asset: {% if asset.title %} {{ asset.title }} {% endif %}</h3>
            </summary>
            <table style="width: 100%; text-align: left;">
                <tr><td style="text-align: left;"><strong>href:</strong> {{ asset.href }} </td></tr>
                {% if asset.media_type %}
                    <tr><td style="text-align: left;"><strong>type:</strong> {{ asset.media_type }} </td></tr>
                {% endif %}
                {% if asset.title %}
                    <tr><td style="text-align: left;"><strong>title:</strong> {{ asset.title }} </td></tr>
                {% endif %}
                {% if asset.description %}
                    <tr><td style="text-align: left;"><strong>description:</strong> {{ asset.description }} </td></tr>
                {% endif %}
                {% if asset.roles %}
                    <tr><td style="text-align: left;"><strong>roles:</strong> {{ asset.roles }} </td></tr>
                {% endif %}
                {% if asset.owner %}
                    <tr><td style="text-align: left;"><strong>owner:</strong> {{ asset.owner.id }} </td></tr>
                {% endif %}
                {{ macros.extra_fields(asset) }}
            </table>
        </details>
    </div>
</div>
