{% extends 'Catalog.jinja2' %}
{% import 'Macros.jinja2' as macros %}

{% block title %}
    Collection: {{catalog.id}}
{% endblock %}

{% block subclass_fields %}
{% endblock %}

{% block subclass_details %}
    {{ macros.assets(catalog) }}
{% endblock %}

