{% import 'Macros.jinja2' as macros %}

<div class="jp-RenderedJSON jp-mod-trusted jp-OutputArea-output">
    <div class="container" style="line-height: normal;">
        {{ macros.dict(dict) }}
    </div>
</div>