{% import 'Macros.jinja2' as macros %}

<div class="jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output">
    {{ macros.square('#FFF7E5', '#FF6132') }}
    <div style="margin-left: 48px;">
        <h4 style="margin-bottom: 0px;">Link: {% if link.title %} {{ link.title }} {% endif %}</h4>
        <table style="width: 100%; text-align: left;">
            <tr><td style="text-align: left;"><strong>rel:</strong> {{ link.rel }} </td></tr>
            <tr><td style="text-align: left;"><strong>href:</strong> {{ link.get_target_str() }} </td></tr>
            {% if link.media_type %}
                <tr><td style="text-align: left;"><strong>type:</strong> {{ link.media_type }} </td></tr>
            {% endif %}
            {% if link.title %}
                <tr><td style="text-align: left;"><strong>title:</strong> {{ link.title }} </td></tr>
            {% endif %}
            {{ macros.extra_fields(link) }}
        </table>
        {% if link.extra_fields %}
            <table style="width: 100%; text-align: left;">
            </table>
        {% endif %}
    </div>
</div>