{% macro scalar(key, value) -%}
    {% if value is mapping %}
        <li style="padding-top: 0.25em; padding-right: 0px; user-select: text; overflow-wrap: break-word; padding-left: 2.125em; text-indent: -0.5em; word-break: break-all;">
            <details>
                <summary style="cursor: pointer;">
                    <span style="color: rgb(0, 128, 0); font-weight: 700;">
                        {{ key }}
                    </span>
                </summary>
                {{ dict(value) }}
            </details>
        </li>
    {% else %}
        <li style="padding-top: 0.25em; padding-right: 0px; margin-left: 0.5em; user-select: text; overflow-wrap: break-word; padding-left: 2.125em; text-indent: -0.5em; word-break: break-all;">
            <label style="display: inline-block; margin: 0px 0.5em 0px 0px;">
                <span style="color: rgb(0, 128, 0); font-weight: 700;">
                    {{ key }}
                </span>
            </label>
            <span style="color: rgb(186, 33, 33);">
                {% if value is string %}
                    "{{ value }}"
                {% else %}
                    {{ value }}
                {% endif %}
            </span>
        </li>
    {% endif %}
{%- endmacro %}


{% macro list(key, value) -%}
    <li style="position: relative; padding-top: 0.25em; margin-left: 0.5em; padding-left: 0px;">
        <details>
            <summary style="cursor: pointer;">
                <span style="color: rgb(0, 128, 0); font-weight: 700;">
                    {{key}}
                </span>
                <span style="padding-left: 0.5em; cursor: default;">
                    <span style="color: rgb(64, 128, 128); font-style: italic;">
                        <span style="margin-left: 0.3em; margin-right: 0.3em;">
                            []
                        </span>
                        {{ value|length }} items
                    </span>
                </span>
            </summary>
            <ul style="padding: 0px; margin: 0px; list-style: none; display: block;">
                {% for item in value %}
                    {{ dict({loop.index - 1: item}) }}
                {% endfor %}
            </ul>
        </details>
    </li>
{%- endmacro %}

{% macro dict(dict) -%}
    <ul style="padding: 0px; margin: 0px; list-style: none; display: block;">
        {% for key, value in dict.items() %}
            {% if value is iterable and (value is not string and value is not mapping) %}
                {{ list(key, value) }}
            {% else %}
                {{ scalar(key, value) }}
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}