{% macro scalar(key, value) -%}
    {% if value is mapping %}
        <li style="padding-top: 0.25em;">
            <details>
                <summary style="cursor: pointer; display: list-item;">
                    <span style="color: rgb(0, 128, 0); font-weight: 700;">
                        {{ key }}
                    </span>
                </summary>
                {{ dict(value) }}
            </details>
        </li>
    {% else %}
        <li style="padding-top: 0.25em; overflow-wrap: break-word; padding-left: 2.125em; text-indent: -0.5em;">
            <span style="display: inline-block; margin: 0px 0.5em 0px 0px; color: rgb(0, 128, 0); font-weight: 700;">
                {{ key }}
            </span>
            <span style="color: rgb(186, 33, 33);">
                {% if value is string %}
                    "{{ value }}"
                {% else %}
                    {{ value }}
                {% endif %}
            </span>
        </li>
    {% endif %}
{%- endmacro %}


{% macro list(key, value) -%}
    <li style="padding-top: 0.25em;">
        <details>
            <summary style="cursor: pointer; display:list-item;">
                <span style="color: rgb(0, 128, 0); font-weight: 700;">
                    {{key}}
                </span>
                <span style="padding-left: 0.5em; cursor: default;">
                    <span style="color: rgb(64, 128, 128); font-style: italic;">
                        <span style="margin-left: 0.3em; margin-right: 0.3em;">
                            []
                        </span>
                        {{ value|length }} items
                    </span>
                </span>
            </summary>
            {% for item in value %}
                {{ dict({loop.index - 1: item}) }}
            {% endfor %}
        </details>
    </li>
{%- endmacro %}

{% macro dict(dict) -%}
    <ul style="margin: 0px; padding: 0px 0px 0px 1.75em; list-style: none; display: block;">
        {% for key, value in dict.items() %}
            {% if value is iterable and (value is not string and value is not mapping) %}
                {{ list(key, value) }}
            {% else %}
                {{ scalar(key, value) }}
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}