interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://landsat.usgs.gov/stac/landsat-extension/v1.1.1/schema.json
  response:
    body:
      string: "{\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n
        \   \"$id\": \"https://landsat.usgs.gov/stac/landsat-extension/v1.1.1/schema.json\",\n
        \   \"title\": \"Landsat Extension\",\n    \"description\": \"Landsat Extension
        to STAC Items and Collections\",\n    \"allOf\": [\n        {\n            \"type\":
        \"object\",\n            \"required\": [\n                \"type\",\n                \"properties\",\n
        \               \"assets\"\n            ],\n            \"properties\": {\n
        \               \"type\": {\n                    \"const\": \"Feature\"\n
        \               },\n                \"collection\": {\n                    \"type\":
        \"string\"\n                },\n                \"properties\": {\n                    \"allOf\":
        [\n                        {\n                            \"required\": [\n
        \                               \"landsat:scene_id\",\n                                \"landsat:collection_category\",\n
        \                               \"landsat:collection_number\",\n                                \"landsat:wrs_type\",\n
        \                               \"landsat:wrs_path\",\n                                \"landsat:wrs_row\",\n
        \                               \"landsat:cloud_cover_land\",\n                                \"landsat:correction\"\n
        \                           ]\n                        },\n                        {\n
        \                           \"$ref\": \"#/definitions/fields\"\n                        }\n
        \                   ]\n                }\n            }\n        },\n        {\n
        \           \"$ref\": \"#/definitions/stac_extensions\"\n        }\n    ],\n
        \   \"definitions\": {\n        \"stac_extensions\": {\n            \"type\":
        \"object\",\n            \"required\": [\n              \"stac_extensions\"\n
        \           ],\n            \"properties\": {\n                \"stac_extensions\":
        {\n                    \"type\": \"array\",\n                    \"contains\":
        {\n                        \"const\": \"https://landsat.usgs.gov/stac/landsat-extension/v1.1.1/schema.json\"\n
        \                   }\n                }\n            }\n        },\n        \"fields\":
        {\n            \"landsat:scene_id\": {\n                \"title\": \"Landsat
        Scene Identifier\",\n                \"type\": \"string\",\n                \"pattern\":
        \"^L[CEMOT][1-9][0-9]{3}[0-9]{3}[0-9]{7}[A-Z]{3}[0-9]{2}$\"\n            },\n
        \           \"landsat:collection_category\": {\n                \"title\":
        \"Collection Category\",\n                \"type\": \"string\",\n                \"enum\":
        [\n                    \"A1\",\n                    \"A2\",\n                    \"T1\",\n
        \                   \"T2\",\n                    \"RT\"\n                ]\n
        \           },\n            \"landsat:collection_number\": {\n                \"title\":
        \"Collection Number\",\n                \"type\": \"string\",\n                \"enum\":
        [\n                    \"01\",\n                    \"02\"\n                ]\n
        \           },\n            \"landsat:wrs_type\": {\n                \"title\":
        \"WRS Type\",\n                \"type\": \"string\",\n                \"enum\":
        [\n                    \"1\",\n                    \"2\"\n                ]\n
        \           },\n            \"landsat:wrs_path\": {\n                \"title\":
        \"WRS Path\",\n                \"type\": \"string\",\n                \"pattern\":
        \"^(0{2}[1-9])$|^(0[1-9][0-9])$|^(1[0-9]{2})$|^(2[0-2][0-9]|23[0-3])$\"\n
        \           },\n            \"landsat:wrs_row\": {\n                \"title\":
        \"WRS Row\",\n                \"type\": \"string\",\n                \"pattern\":
        \"^(0{2}[1-9])$|^(0[1-9][0-9])$|^(1[0-9]{2})$|^(2[0-3][0-9]|24[0-8])$\"\n
        \           },\n            \"landsat:cloud_cover_land\": {\n                \"title\":
        \"Land Cloud Cover\",\n                \"type\": \"number\",\n                \"minimum\":
        -1,\n                \"maximum\": 100\n            },\n            \"landsat:correction\":
        {\n                \"title\": \"Product Correction Level\",\n                \"type\":
        \"string\",\n                \"enum\": [\n                    \"L1TP\",\n
        \                   \"L1GT\",\n                    \"L1GS\",\n                    \"L2SR\",\n
        \                   \"L2SP\"\n                ]\n            }\n        }\n
        \   }\n}\n"
    headers: {}
    status:
      code: 200
      message: OK
version: 1
