.no-sidebar {
    display: none;
}

.card-text a {
    font-weight: 600;
    color: rgb(255, 26, 26);
}

.card-header p {
    font-size: large;
    font-weight: 600;
}

.navbar-brand img {
    height: 50px;
}

.navbar-brand {
    height: 75px;
}
