name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      # Allow other matrix jobs to complete if 1 fails
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          # Cache based on OS, Python version, and dependency hash
          key: test-${{ runner.os }}-python${{ matrix.python-version }}-${{ hashFiles('requirements-dev.txt') }}
      
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -e ".[validation]"

      - name: Execute test suite
        run: ./scripts/test
        shell: bash
      
      - name: Upload All coverage to Codecov
        uses: codecov/codecov-action@v1
        # Only upload this once...
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'}}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false 
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          # Cache based on OS, Python version, and dependency hash
          key: lint-${{ runner.os }}-python${{ matrix.python-version }}-${{hashFiles('requirements-dev.txt') }}
      
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -e ".[validation]"

      - name: Execute linters & type checkers
        run: ./scripts/lint

  vanilla:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v2
      
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install without orjson
        run: pip install '.[validation]'
      
      - name: Run unittests
        run: python -m unittest discover tests
